<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

</head>
<body ng-app="myApp" ng-controller="DemoCtrl as ctrl">

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

<!-- Angular Material Library -->
<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
<script>
    var app = angular.module('myApp', ['ngMaterial']);
    app.controller("DemoCtrl", function ($scope) {
        var that = this;
        that.test = 'test';
        that.hours = [];
        for (var i = 0; i < 24; i++) {
            that.hours.push(i);
        }
        $scope.someVarInDemoCtrl = "Some var value in demo controller";
        console.log("starting demo controller");
    });
    app.directive('datePartInput', function() {
        return {
            restrict: 'A',
            require: 'ngModel',
            link: function(scope, elem, attrs, ngModel) {
                var part = attrs.part;
                var modelToUser, userToModel
                console.log('part:', part);
                if (part == 'year') {
                    modelToUser = function(date) {
                        return date.getFullYear();
                    }
                    userToModel = function(year) {
                        ngModel.$modelValue.setYear(year);
                        return ngModel.$modelValue
                    }
                }
                else if (part == 'month') {
                    modelToUser = function(date) {
                        return date.getMonth();
                    }
                    userToModel = function(month) {
                        ngModel.$modelValue.setMonth(month);
                        return ngModel.$modelValue;
                    }
                }
                else if (part == 'day') {
                    modelToUser = function(date) {
                        return date.getUTCDate();
                    };
                    userToModel = function(day) {
                        ngModel.$modelValue.setUTCDate(day);
                        return ngModel.$modelValue;
                    };
                }
                ngModel.$formatters.push(modelToUser);
                ngModel.$parsers.push(userToModel);
            }
        }
    })
</script>

<div layout="row" layout-align="end end">
    <div flex="20">
        <md-datepicker name="startDate" ng-model="ctrl.date" ng-required="true">
        </md-datepicker>
    </div>
    <div flex="20">
        <md-icon>alarm</md-icon>
    </div>
    <div flex="20">
        <md-select ng-model="ctrl.hour">
            <md-option ng-repeat="hour in ctrl.hours" ng-value="hour">
                {{hour + ':00'}}
            </md-option>
        </md-select>
    </div>


</div>
</body>
</html>